*, html {
  margin:0;
  padding:0;  
  box-sizing: border-box;
}

span {
  font-size: 20px;
}

body {
  display:flex;
  flex-direction: row;
  background-color:	#e1f1fd;
  font-family: 'Varela Round', sans-serif;
 
}
.sidebar {
  width: 20vw;
  height: 100vh;
  padding: 5px;
  display:flex;
  flex-direction: column;
  border-right: solid 2px;
  color: #FAF9F6;
  background-color: #4663ac;
}

.sidebar .welcome-user-title {
  margin-top: 30px;
}

.sidebar .user-info {
  margin: 50px 0 0 20px;
}

.sidebar p {
  margin: 30px 0;
}

.welcome-user-title {
  font-size: 2rem;
  text-align:center;
}

.widgets-container {
  width:80vw;
  height:100vh;
  display:flex;
  flex-direction: row;
}

.non-sleep-widgets-container{
  width:40vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

.sleep-widgets-container{
  width:40vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

.card{
  height:30vh;
  width:30vw;
  text-align: center;
  border-radius: 30px;
  background-color: #FAF9F6;
  padding: 25px;
  box-shadow: 0 0 10px 3px lightblue;
}